
.move
{
  // margin-left: calc((100% - 25%) /2);
  text-align: center;
  font-size: 70px;
  color: #48392A;
  margin-top: 2%;
  // margin-left: 25%;
  // margin-right: 25%;
  // font-family: garamond;
}

.progressSpinner
{
  position: absolute;
  transform: scale(0.7);
  margin-top: -3%;

  color: #21D19F;
  margin-left: 68%;
  // margin-right: 25%;
}

.homeButton
{
  position:absolute;
  top:1%;
  right:1%;
  height:80px;
  width:80px;
  transform: scale(1);


}

.homeButton:hover
{
  background-color: #48392a2f;
}

.homeIcon
{
  position:absolute;
  top: 27px;
  right: 27px;
  height:25px;
  width:25px;
  transform: scale(3);
}


.myGrid
{
  // position: absolute;
  margin-left: calc((100% - 746px) /2);
  margin-bottom: calc((100% - 605px) /2);

  // height:200px;
  // width:200px;
} 

.ul
{

  padding-bottom: 38px;
  padding-top: 38px;
  height:605px;
  width:746px;
  border-radius: 90px;
  box-shadow: 5px 5px 20px #185040;
  background: linear-gradient(to top,#23ca9b,#8cf0d4);
}

.col 
{
  float:left;
  list-style-type:none;

  height: 100px;
  width: 100px;
  align-items: center;
  margin-right: 1px;
}

.tiles:hover
{
  background: linear-gradient(to bottom right,#21D19F,#77dbbf);
  border-radius: 40px;
}

.gridTile
{
  // background: linear-gradient(to bottom right,#21D19F,#85ceb9);
  margin-bottom: 100px;
}


.chips
{
  border-width: 5px;
  border-color: #23c99a;
  border-style: solid;
  border-radius: 50%;
  // '  shape-outside: circle(50%);
  //   clip-path: circle(6rem at 12rem 8rem);'
  height: 80px;
  width: 80px;
}

//Chip colors
.empty
{
  background: linear-gradient(to bottom right,#21D19F,#77dbbf);
}

.p1color
{
  background: "primary";
  // background: linear-gradient(to bottom right,#ffffff,#f8ca5d);
}

.p2color
{
  background: "accent";
  // background: linear-gradient(to bottom right,#fafafa,#e98ba1);
}


//Player cards
.playerCard1
{
  position: absolute;
  top: 40%; 
  left: 5%; 
  margin: 10px;
  max-width: 300px;
  border-radius: 50px;
  border-width: 5px;

  background: linear-gradient(to bottom right,#ffffff,#fcde99);
}

.playerCard2
{
  position: absolute;
  top: 40%; 
  right: 5%; 
  margin: 10px;
  max-width: 300px;
  border-radius: 50px;
  border-width: 5px;
  background: linear-gradient(to bottom right,#fafafa,#f0aebd);
}


.cardTitle
{
  color: #48392A;
  font-size: 35px;
  justify-content: center;
  display: flex;
}

// mat-card-subtitle 
// {
//   font-size: 18px;
// }


// .progressSpinner
// {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 5;
// }


