<div>  
    <button (click)="ClickLeaveGameNow()" class="homeButton" mat-icon-button color="accent" aria-label="Example icon button with a home icon">
        <mat-icon class="homeIcon">home</mat-icon>
    </button>
</div>

<h1 class="move" *ngIf="yourMove && GameState=='running'">Make your Move!</h1>
<h1 class="move" *ngIf="!yourMove && GameState=='running'" >Waiting for opponent (Ladedingbums)</h1>
<h1 class="move" *ngIf="GameState=='won'">Chicken Dinner Winner Winner!</h1>
<h1 class="move" *ngIf="GameState=='lost'">Better Luck next time loser!</h1>
<h1 class="move" *ngIf="GameState=='draw'">Well that's awkward</h1>

<div class="myGrid">
    <ul class="ul">
        <li class="col" *ngFor="let var of [].constructor(7); let x = index"> 
            <mat-grid-list class="tiles" (click)="ClickMoveWasMade(x+1)" cols="1" rowHeight="1:1">
                <div>
                    <mat-grid-tile class="gridTile" *ngFor="let var of [].constructor(6); let y = index">
                         <!-- board an der jeweiligen position anschauen, und schauen ob 0,1,2 -->
                        <div *ngIf="board[y][x]==0" class="chips empty"></div>
                        <div *ngIf="board[y][x]==1" class="chips p1color"></div>
                        <div *ngIf="board[y][x]==2" class="chips p2color"></div>
                        <!-- hier hochzählen, aber nur mit backend nutzen{{j}} -->
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </li>
    </ul>
</div>

    <mat-card class="playerCard1">
        <mat-card-header>
            <mat-card-title class="cardTitle">{{player1name}}</mat-card-title>
            <mat-card-subtitle> 
                <!-- hier befindet sich der name von Player1. idealerweise  -->
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Inhalt</mat-card-content>
    </mat-card>
    
    <mat-card class="playerCard2">
        <mat-card-header>
            <mat-card-title class="cardTitle">{{opponentName}}</mat-card-title>
            <mat-card-subtitle> 
                <!-- hier befindet sich der name von Player2. idealerweise  -->
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Inhalt</mat-card-content>
    </mat-card>









