html
{
  min-height:100%;/* make sure it is at least as tall as the viewport */
}




.loginPage
{
height: 650px;
// //   color: rgb(104, 70, 89);
--field-width: 400px;
--field-height: 100px;

  margin-left: calc((100% - var(--field-width))/2);
  margin-top: calc((50% - var(--field-height))/2);

// //   // align-self: center;
  
// //   // display: flex;
// // //   justify-content: center;



  // margin-top: auto;
  // margin-bottom: auto;
// //   //display: inline-block;
// //   // vertical-align: middle;
  // display: block;
}

.field
{
// //   align-self: center;
//   margin-top: 100%;
width: var(--field-width); 
height: var(--field-height); 

color: rgb(85, 25, 44);
transform: scale(1.2);

}

// mat-mdc-form-field-flex
// {

// }

.shuffle
{
  margin-top: 0px;
  transform: scale(1.2);

}

.play
{
  margin-top: 5px;
  transform: scale(1.2);
}

.label
{
  font-size: 35px;
  margin-left: 80px;
}


// .mat-form-field-label
// {
//   color: aqua !important;
// }
// // // .RegisterButton
// // // {
// // //   margin-left: auto;
// // //   margin-right: auto;
// // //   align-self: center;
  
// // //   // display: flex;
// // //   justify-content: center;
// // // }

// // // .RandomNameButton
// // // {
// // //   margin-left: auto;
// // //   margin-right: auto;
// // //   align-self: center;

// // //   // vertical-align: middle;
// // //   // display: flex;
// // //   justify-content: center;
// // // }